<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Homepage</title>
</head>

<body>
  Run games
  <form class="admin_form">
    <input type="text" placeholder="Enter match id 1-10 here" class="gameId" />
    <button>Run Game</button>
  </form>
  <script src="/static/admin.js"></script>
</body>

</html>