<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Homepage</title>
</head>

<body>
  <header>
    <div>Logo</div>
    <div><h2>Log-in Link</h2></div>
  </header>

  <div>
    <h1>Footpool</h1>
  </div>

  <div>
    Fixture List
    <div>
      <p>Team A vs Team B</p>
      <p>Team C vs Team D</p>
      <p>Team E vs Team F</p>
      <p>Team G vs Team H</p>
      <p>Team I vs Team J</p>
      <p>Team K vs Team L</p>
    </div>
  </div>

  <div>
    <button>Play with friends</button>
  </div>
</body>

</html>