<!DOCTYPE html>
<html>

<head>
  <title>FootPool Index</title>
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<body>
  <div id="root"></div>

  <script id="user" type="application/json">
    {{{ json }}}
  </script>

  <script id="pools" type="application/json">
    {
      "pools": [],
      "selectedPoolId": "",
      "selectedPoolWeek": ""
    }
  </script>

  <script src="/static/bundle.js"></script>
</body>

</html> 