<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
</head>

<body>
  <header>
    <button>
      Return
    </button>
    <div>
      Logo
    </div>
  </header>
  <div>
    <h1>Log in</h1>
  </div>
  <div>
    <form id="login-form">
      <input id="username" type="text" placeholder="Username" />
      <input id="password" type="password" placeholder="Password" />
      <button type="submit">Login</button>
    </form>
    <p>No profile?
      <a href="/signup">Signup</a>
    </p>
    <p>
      <a href="/reset">Forgotten details?</a>
    </p>
  </div>
  <script src="/static/login.js"></script>
</body>

</html>