<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
</head>

<body>
  <header>
    <button>
      Return
    </button>
    <div>
      Logo
    </div>
  </header>
  <div>
<h1>Log in</h1>
</div>
<div>
  <form>
    <input type="text" placeholder="Username"/>
    <input type="text" placeholder="Password"/>
  </form>
    <p>No profile? <a href="#">Signup</a></p>
    <p><a href="#">Forgotten details?</a></p>
    <div>
      <button type="Submit">Login</button>
    </div>
</div>
</body>

</html>