<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Homepage</title>
</head>

<body>
  <header>
    <p>Return</p>
    <div>Pool Choice</div>
  </header>

<div>
    <button>View your pools</button>
</div>
  <div>
    <button>Create Pool</button>
    <button>Join Pool</button>
  </div>

  <div>

  </div>
    Fixture List
    <div>
      <p>Team A vs Team B</p>
      <p>Team C vs Team D</p>
      <p>Team E vs Team F</p>
      <p>Team G vs Team H</p>
      <p>Team I vs Team J</p>
      <p>Team K vs Team L</p>
    </div>
  <div>

  <div>
    Footer
  </div>
</body>

</html>