<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Signup</title>
</head>

<body>
  <header>
    <button>
      Return
    </button>
    <div>
      Logo
    </div>
  </header>
  <div>
    <h1>Sign Up</h1>
  </div>
  <div>
    <form id="signup-form">
      <input id="new-username" type="text" placeholder="Username" />
      <input id="new-email" type="text" placeholder="Email Address" />
      <input id="new-password" type="text" placeholder="Password" />
      <button type="submit">Sign Up</button>
    </form>
    <p>Already have a profile?
      <a href="/login">Login</a>
    </p>
    <p>
      <a href="/reset">Forgotten details?</a>
    </p>
  </div>
  <script src="/static/signup.js"></script>
</body>

</html>