.footer--container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: sticky;
  bottom: 0;
  width: 100%;
  justify-content: center;
  background-color: var(--primary-color);
}

.footer--nav-item {
  justify-content: space-around;
  text-align: center;
  padding: 10px 10px;
}

.footer--nav-item a {
  text-decoration: none;
}

.footer--nav-icon {
  width: 30px;
  height: auto;
  fill: white;
}

.footer--nav-title {
  margin: 0;
  color: var(--font-color);
}

// @media (min-width: 600px) {
//   .footer--container {
//     position: fixed;
//     top: 0;
//   }
//   .footer--nav-icon {
//     display: none;
//   }
// }
