:root {
  --primary-color: dodgerblue;
  --secondary-color: lightgrey;
  --tertiary-color: royalblue;
  --action: orange;
  --option: aquamarine;
  --font-color: white;
  --alt-font-color: black;
  --border-color: grey;
  --background-color: rgba(213, 214, 216, 0.5);
}
