:root {
  --primary-color: dodgerblue;
  --secondary-color: aquamarine;
  --tertiary-color: orange;
  --action-button: tomato;
  --normal-button: lightgrey;
  --font-color: white;
  --alt-font-color: navy;
}
